{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    <title>Document</title>
</head>
<body>
    


    <section class="intro-card">
        <header>
          <nav>
            <a href="javascript:void(0);" id="menu-bars" onclick="openNav()"
            ><i class="fas fa-bars"></i
          ></a>
            <a href="#"><i class="fas fa-mobile"></i>Get an App</a>
            <a href="AddReasturant" id="bar">Add Restaurant</a>
            <a href="AddReasturantlogin" id="bar">Login</a>
            <a href="AddReasturantregister" id="bar">Sign Up</a>
  
          </nav>
        </header>
        <h1><i class="fas fa-utensils"></i>restro.</h1>
        <p>Discover the best food and drinks near (city name)</p>
 
        <div class="input-search">
          <i class="fas fa-map-marker-alt" id="location"></i>
          <input type="text" placeholder="Enter location" id="location-input" />
          <div id="divider">|</div>
          <i class="fas fa-search" id="search"></i>
          <input
            type="search"
            class="search"
            id="srch-input"
            placeholder="Search Dishes"
          />
        </div>
  
        <div id="myNav" class="overlay">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div class="overlay-content">
            <a href="login">Login</a>
          <a href="#SIGNUP">SignUp</a>
          <a href="AddReasturant">Add Resturent</a>
          </div>
        </div>
  
      </section>

</body>
</html>