<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <title>Document</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: "Open Sans", sans-serif;
      background: #f7ef00;
    }
    h1{
      font-size: 2.5rem;
      font-weight: bold;
      color: #202011;
      text-align: center;
      margin-top: 10%;
    }
  </style>
</head>
<body style="background-color: #f7ef00;">
  <center>
    <h1><i class="fas fa-door-open"></i></h1>
    <h1>Welcome to Restro.</h1>
    <p>
      I love to have a dinner party. I love to have people over. I like the feeling it creates in my home - having guests laughing and telling their stories - and I put a lot of thought into it. I plan my menu kind of depending on whatever mood I'm in.
      
    </p>
  <h4>check your email for conformation </h4>
  <img src="D://HTML--CSS//project//restro//resturent-web-application-Django-//asset//email_images//images//Hero.png" alt="">
  </center>
</body>
</html>