{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="google-signin-client_id"
      content="627639346808-l3074umgq3o7grp1qfhcdvqn57bkcntm.apps.googleusercontent.com"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="{%static 'css/login.css' %}" />
    

    <title>Document</title>
  </head>
  <body>
    <div class="form-container sign-up-form">
      <div class="form-box sign-up-box">
        <h2>Login</h2>
        <h6>{{success}}</h6>
        <h6>{{error}}</h6>
        <form action="Addlogin" method="post">
          {%csrf_token%}
          <div class="field">
            <i class="uil uil-at"></i>
            <input type="text" placeholder="Username" name="username" required />
          </div>
          <div class="field">
            <i class="uil uil-lock-alt"></i>
            <input
              class="password-input"
              type="password"
              name="pass"
              placeholder="Password"
              required
            />
            <div class="eye-btn"><i class="uil uil-eye-slash"></i></div>
          </div>
          <div class="forgot-link">
            <a href="">Forget password?</a>
          </div>
          <input class="submit-btn" type="submit" value="login" />
        </form>
        <div class="login-options">
          <p class="text">Or , login with ...</p>
          <div class="other-logins">
            <!-- <a href="" 
              ><img src="{%static 'login_images/google.png'%}" alt=""
            /></a> -->
            <div class="g-signin2" data-onsuccess="onSignIn"> </div>
            <a href=""
              ><img src="{%static 'login_images/github.png'%}" alt=""
            /></a>
            <a href=""
              ><img src="{%static 'login_images/facebook.png'%}" alt=""
            /></a>
          </div>
        </div>
      </div>
<div class="imgBox sign-up-imgBox">
  <div class="sliding-link">
    <p>Don't have an account?</p>
    <span class="sign-up-btn">sign up</span>
  </div>
  <img src="{%static 'login_images/signin.jpg'%}" alt="">
</div>

    </div>





<!-- registration form  -->




<div class="form-container sign-in-form">
  <div class="imgBox sign-in-imgBox">
    <div class="sliding-link">
    <p>Already have an account?</p>
    <span class="sign-in-btn"> sign in </span>
    </div>
    <img src="{%static 'login_images/signup.jpg'%}" alt="">
    </div>
  <div class="form-box sign-in-box">
    <h2>Sign up</h2>
    <div class="login-options">
      
      <div class="other-logins">
        <!-- <a href="" 
          ><img src="{%static 'login_images/google.png'%}" alt=""
        /></a> -->
        <div class="g-signin2" data-onsuccess="onSignIn"> </div>
        <a href=""
          ><img src="{%static 'login_images/github.png'%}" alt=""
        /></a>
        <a href=""
          ><img src="{%static 'login_images/facebook.png'%}" alt=""
        /></a>
      </div>
      <p class="text">Or , sigup with ...</p>
    </div>
    <h6>{{success}}</h6>
    <h6>{{error}}</h6>
    <form action="Addregister" method="post">
      {%csrf_token%}
      <div class="field">
        <i class="uil uil-user"></i>
        <input type="text" placeholder="Username" name="username" required />
      </div>

      <div class="field">
        <i >F</i>
        <input type="text" placeholder="firstname" name="fname" required>
      </div>
      <div class="field">
        <i >L</i>
        <input type="text" placeholder="lastname" name="lname" required>
      </div>
      <div class="field">
        <i class="uil uil-at"></i>
        <input type="email" placeholder="email" name="email" required>
      </div>
      <div class="field">
        <i class="uil uil-lock"></i>
        <input type="password" placeholder="password" name="pass"required>
        <div class="eye-btn"><i class="uil uil-eye-slash"></i></div>
      </div>
      <div class="field">
        <i class="uil uil-lock-access"></i>
        <input type="password" placeholder="confirm password" name="c_pass"required>
        
      </div>
      <div class="forgot-link">
        <a href="">Forget password?</a>
      </div>
      <input class="submit-btn" type="submit" value="Sign up" />
    </form>
    
  </div>


</div>


    <script>
      //input fields  focous effects

      const textInputs = document.querySelectorAll("input");

      textInputs.forEach((textInput) => {
        textInput.addEventListener("focus", () => {
          let parent = textInput.parentNode;
          parent.classList.add("active");
        });

        textInput.addEventListener("blur", () => {
          let parent = textInput.parentNode;
          parent.classList.remove("active");
        });
      });
      //password show/hide button
      const passwordInput = document.querySelector(".password-input");
      const eyeBtn = document.querySelector(".eye-btn");

      eyeBtn.addEventListener("click", () => {
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
          eyeBtn.innerHTML = '<i class="uil uil-eye"></i>';
        } else {
          passwordInput.type = "password";
          eyeBtn.innerHTML = '<i class="uil uil-eye-slash"></i>';
        }
      });




      //sliding between links in sign-in and sign-up forms

      const signUpBtn = document.querySelector(".sign-up-btn");
      const signInBtn = document.querySelector(".sign-in-btn");
      const signUpForm = document.querySelector(".sign-in-form");
      const signInForm = document.querySelector(".sign-up-form");

      signUpBtn.addEventListener("click", () => {
        signInForm.classList.add("hide");
        signUpForm.classList.add("show");
        signInForm.classList.remove("show");
      });

      signInBtn.addEventListener("click", () => {
        signInForm.classList.add("show");
        signUpForm.classList.remove("show");
        signUpForm.classList.add("hide");
        
      });



      //google sign out 
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");
        });
      }
      //google sign in

      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail()); // This is null if the 'email' scope is not present.
      }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
